# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
.fvm/

# Android
android/.gradle/
android/local.properties
android/key.properties
**/android/**/gradle-wrapper.jar
**/.cxx/

# iOS / macOS
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# 临时文件
*.log
*.tmp
*.jar
